
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="well">
        <template id="product-template">
            <input type="button" class="btn btn-default" data-bind="value: btnProductVal, click: createProductForm" />
            <input type="text" data-bind="visible:isCreateProductClick, value: newProductName" placeholder="название" />
            <div data-bind="foreach: products">
                <div>
                    <h4><strong data-bind="text: name"></strong></h4>
                    <a href="#" class="glyphicon glyphicon-floppy-disk" data-bind="click: $parent.saveProduct, visible:isNewOrUpdatedProduct"></a>
                    <a href="#" style="float: right" class="glyphicon glyphicon-remove" data-bind="click: $parent.removeProduct"></a>
                </div>
                <div class="alert alert-success">
                    <div class="form-horizontal" data-bind="foreach: ingridients">
                        <div data-bind="visible: ProcessFlag() != 3">
                            <input type="text" placeholder="название" data-bind="value: Name">
                            <input type="text" placeholder="вес (гр)" data-bind="value: Weight"/>
                            <input type="text" placeholder="цена (ед)" data-bind="value: Cost"/>
                            <a href="#" class="glyphicon glyphicon-minus" data-bind="click:$component.removeIngridient"></a>
                        </div>
                    </div>
                    <a href="#" class="glyphicon" data-bind="click:$component.addIngridient">+</a>
                </div><hr />
            </div>
        </template>
        <products></products>
    </div>
</div>


@section scripts{
    @Scripts.Render("/Scripts/models/product-view-model.js")
    <script>
        $(document).ready(function () {
            ko.applyBindings();
        });
    </script>
}






