
    
<div class="col-lg-offset-9" >
    <small class="text-muted" data-bind="text:text, click: answer"></small>
    <form class="form-horizontal" data-bind="visible: isAnswer" style="margin-bottom: 7px;">


        <textarea class="form-control t-area" data-bind="value: answerText, valueUpdate:'afterkeydown', css:{'t-area-active':isReadyAnswer }"></textarea>
        <input class="form-control btn-default" type="submit" data-bind="visible: isReadyAnswer" value="Отправить" />
        <input class="form-control btn-default" type="button" data-bind="click: answer" value="Отмена" />
    </form>
</div>
