@model List<WorldLib.Models.Comment>

<div class="container">
   <div class="well">
       <table class="table table-hover table-bordered">
           <thead>
               <tr>
                   <td><strong>Текст</strong></td>
                   <td><strong>Автор</strong></td>
                   <td><strong>Дата</strong></td>
                   <td><strong>Обсуждение</strong></td>
                   <td></td>
               </tr>
           </thead>

           @foreach (var item in Model)
           {
               <tr>
                   <td class="text-danger">@item.Text</td>
                   <td>@item.User.Email</td>
                   <td>@item.CreationDateTime.ToShortDateString()</td>
                   <td>@item.Discussion.Name</td>
                   <td><a href="~/Comments/Edit/@item.Id"><span class="glyphicon glyphicon-edit"></span></a></td>
                   <td><a href="~/Comments/Delete/@item.Id"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>
               </tr>
           }

       </table>
   </div>
</div>
