

@{
    ViewBag.Title = "Recipes";
}

<h2>Recipes</h2>

<recipe></recipe>

<template id="recipe-edit-template">
    <div class="well">
        <p>
            <a href="#" class="btn btn-success glyphicon glyphicon-plus" value="" data-bind="click: showFormRecipe"></a>
        </p>
        <div class="well" data-bind="visible:isVisibleForm">
            <!--ko with: NewRecipeModel-->
            <div class="row">
                <form class="form-group col-md-6" data-bind="visible: true">
                    <div class="label" style="color: #455a64">Название:</div>
                    <input type="text" class="form-control" data-bind="value: newRecipeName"/>
                    <div class="label" style="color: #455a64">Категория:</div>
                    <select class="form-control" data-bind="options: foodCategories, optionsText: 'name', optionsValue:'id', value: categoryId"></select>
                    <div class="label" style="color: #455a64">Фото:</div>

                    <input type="file" class="form-control" data-bind="event: { change: fileUploadChange }"/>
                    
                    <input type="button" data-bind="click: createRecipe" style="margin-top: 10px;" class="form-control btn btn-success" value="Send"/>
                </form>
                <div class="col-md-6">
                    <div class="form-group" data-bind="foreach:descriptionSteps">
                        <div class="label" style="color: #455a64" data-bind="text: ($index() + 1 + stepNubmerText)"></div>
                        <div class="form-inline">
                            <textarea class="form-control " rows="6" cols="20" data-bind="value: text"></textarea>
                            <a href="#" class="glyphicon glyphicon-minus" data-bind="click: removeStep"> удалить</a>
                        </div>
                    </div>
                    <a href="#" class="glyphicon glyphicon-paperclip" data-bind="click: addStep">Добавить шаг</a>
                </div>
            </div>
            <!--/ko-->
        </div>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Image
                </th>
                <th>
                    Text
                </th>
                <th>
                    Category
                </th>
            </tr>


            <!--ko foreach: recipes-->
            <tr>
                <td data-bind="text:name"></td>
                <td><img width="40" height="40" data-bind="attr: {src: image }" /></td>
            <td>
                <div class="glyphicon glyphicon-book" style="padding: 7px;border-bottom:1px solid #455A64" data-toggle="collapse" data-bind="attr: { 'data-target': '#Yes' + $index() }"></div>
                <div class="collapse" data-bind="attr: { id: 'Yes' + $index() }, text: text"></div>
            </td>
            <td data-bind="text: categoryName"></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { }) |
                <a href="#" data-bind="click: removeRecipe">Delete</a>
            </td>
            </tr>
            <!--/ko-->


        </table>
    </div>
</template>
@*<template id="recipe-template">
   
</template>*@



@section scripts
{
    @*@Scripts.Render("/Scripts/models/food-category-view-model.js")*@
    @Scripts.Render("/Scripts/models/recipe-edit-model.js")
    <script>
        $(document).ready(function () {
            ko.applyBindings();
        });
    </script>
    
   
}
