@model WorldLib.Models.Category

<div class="modal-content">
    <div class="modal-header" style="background-color:#00796B;">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Новое обсуждение в категории @Model.Name</h4>
    </div>
    <div class="modal-body">
        
            <form class="form-inline" action="~/Forum/AddDiscussion" method="post">
                <div class="form-group">
                    <label for="inputName">НАЗВАНИЕ</label>
                    <textarea type="text" name="Name" class="form-control" id="inputName" />
                    <small id="emailHelp" class="form-text text-muted">добавьте новое обсуждение</small>
                </div>
                <div class="form-group">
                    <label for="inputDescription">Описание</label>
                    <textarea type="text" name="Description" class="form-control" id="inputDescription"  />
                    
                </div>
                @*<div class="form-group">
                    @Html.EnumDropDownListFor(x => x.Name, "Select sex", new { @class = "form-control", type = "text" })
                </div>*@
               <div class="form-group">
                   <input type="hidden" name="CategoryId" value="@Model.Id" />
               </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
    </div>
</div>




