@using WorldLib.Models;
@model  ForumViewModel

<div class="container">

    <div class="panel panel-primary" style="border:none;" id="panel-container">
        <div class="panel-heading"><h4>Обсуждение</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 text-center">
                    <div class="well" >
                        <ul class="nav nav-pills nav-stacked">
                            @foreach (var discussion in Model.Discussions)
                            {
                                <li style="font-size:28px"><a style="color:#808080" href="~/Forum/Comments/@discussion.Id">@discussion.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    @{Html.RenderPartial("CategoriesPartialView", Model.Categories.ToList());}
                </div>
            </div>


        </div>
    </div>
</div>

 <style>
   
 </style>


