@using WorldLib.Models;
@model  ForumViewModel

<div class="container">

    <div class="panel panel-primary" style="border:none;" id="panel-container">
        <div class="panel-heading"><h4>Обсуждение</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 text-center">
                    <div class="well" >
                        <table class="table table-bordered">
                            @foreach (var discussion in Model.Discussions)
                            {
                            <tr>
                                <td style="font-size:28px" ><a  class="text-success" href="~/Forum/Comments/@discussion.Id">@discussion.Name<small class="text-info">  (@discussion.Category.Name)</small></a></td>
                            </tr>
                            }
                        </table>
                    </div>
                </div>
                @if (User.IsInRole("admin"))
                {
                    <div class="col-md-4 text-center">
                        @{Html.RenderPartial("CategoriesPartialView", Model.Categories.ToList());}
                    </div>
                }
                
            </div>


        </div>
    </div>
</div>

 <style>
   
 </style>


