@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-primary">
    <div class="panel-heading">Мир литературы</div>
    <div class="panel-body">
        <div class="alert alert-success col-lg-6">
            <p><h4><a href="~/Forum/Index">ОТЗЫВЫ ЧИТАТЕЛЕЙ</a></h4> <span>по жанрам литературы</span></p>
        </div>
        <div class="alert alert-success col-md-6">
            <h4><a href="~/Forum/Afforism">Аффоризмы</a></h4>
        </div>
    </div>
</div>