
@{
    /**/

    ViewBag.Title = "Recipes";
}

<style>
    .card-demo {
        border: 1px solid black;
        margin-bottom: 8px;
        margin-right: 2px;
    }

        .card-demo:hover {
            cursor: pointer;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

    .comment {
        margin-bottom: 10px;
        background-color: #ffffff; /*#424242;*/
        color: darkcyan;
    }


    .recipe-content {
        width: 550px;
        height: auto;
        border: 1px solid black;
        position: absolute;
        left: 100px;
        top: 60px;
        z-index: 1;
        display: none;
    }

    .row.content {
        height: 450px
    }

    @@media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;
        }

        .row.content {
            height: auto;
        }
    }

    .sidenav {
        padding-top: 5px;
        height: 900px;
    }

    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        overflow: scroll;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }
        /*.modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }*/
        .modalDialog > div {
            width: 700px;
            position: relative;
            margin: 10% auto;
            padding: 20px 20px 13px 20px;
            border-radius: 4px;
            background: #fff689;
            /*background: -moz-linear-gradient(#fff, orange);
            background: -webkit-linear-gradient(#fff, orange);
            background: -o-linear-gradient(#fff, orange);*/
        }

    .close {
        background: red;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover {
            background: #00d9ff;
        }
</style>




<div class="" style="height: auto">
    <category></category>
</div>



<template id="category-template">
    <div class="row content">
        <div class="col-md-2" style="background: rgba(51,51,51,0.7);">
            <div class="sidenav">
                <ul class="list-group">
                    <li class="list-group-item" data-bind="click: getAllRecipes"><h5 data-bind="text: 'Все'"></h5></li>
                </ul>
                <div>
                    <ul class="list-group" data-bind="foreach: foodCategories">
                        <li class="list-group-item" data-bind="click:$parent.getRecipesByCategoryId">
                            <h5 data-bind="text:name"></h5>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div data-bind="foreach: recipes">
                <recipe params="recipe: {name:name, text: text, image: image, id:id, isClickRecipe: isClickRecipe, recipeComments: recipeComments}"></recipe>


                <div class="modalDialog" data-bind="style:{opacity:isClickRecipe()? 1 : 0, 'pointer-events': isClickRecipe()? 'auto':'none'}">
                    <div>
                        <a data-bind="click:$parent.removeBlock" title="Close" class="close">X</a>
                        <img width="100%" data-bind="attr:{src:image}" alt="Card image cap">
                        <h2 data-bind="text:name"></h2>
                        <p data-bind="text:text"></p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="well-sm">
                                <textarea class="form-control" data-bind="value: newComment, valueUpdate : 'afterkeydown'"></textarea>
                                <p data-bind="visible:isSuccess, text: textInfo"></p>
                                <input type="button" data-bind="click: createComment, visible:isEmptyComment" class="btn btn-sm btn-info" value="Отправить" />
                            </div>
                        }
                        <div data-bind="foreach: recipeComments">
                            <recipe-comment params="comment:{text:Text, author: User.NikName, createDateTime: CreateDateTime, status: Status}"></recipe-comment>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2" style="background: rgba(51,51,51,0.7);">
            <div class="sidenav">
                <input class="form-control" data-bind="value:$component.search,valueUpdate : 'afterkeydown'" id="myInput" type="text" placeholder="Search..">
                <div class="alert alert-info">@Html.ActionLink("Калькулятор продуктов", "Index", "Product")</div>
            </div>
        </div>
    </div>
</template>



<template id="recipe-template">
    <div class="col-lg-3 card">
        <div class="card-demo" data-bind="click: getRecipContent">
            <div class="thumbnail">
                <img width="100%" data-bind="attr:{src:image}" alt="Card image cap">
            </div>
            <div class="caption" style="background: orange;padding: 5px">
                <h5 class="" data-bind="text:name"></h5>
                <p class=""><small class="text-muted">demo</small></p>
            </div>
        </div>
    </div>
</template>

<template id="recipe-comment-template">
    <div class="alert-success alert comment">
        <span class="glyphicon glyphicon-leaf"></span>
        <span data-bind="text: text"></span>
        <span class="glyphicon glyphicon-leaf"></span>
        <div style="padding: 20px 0 5px 14px">
            <small style="float: right;" class="text-muted glyphicon glyphicon-user" data-bind="text:author"></small>
            <small style="float: left;" class="text-muted" data-bind="text: createDateTime"> </small>
        </div>
    </div>
</template>







@section scripts
{
    @Scripts.Render("/Scripts/models/food-category-view-model.js")
    @Scripts.Render("/Scripts/models/recipe-view-model.js")
    @Scripts.Render("/Scripts/models/recipe-comment-view-model.js")
    <script>
        $(document).ready(function () {
            ko.applyBindings();
        });
    </script>
}

