
@{
    ViewBag.Title = "Recipes";
}

<style>
    .card-demo {
        border: 1px solid black;
        margin-bottom: 8px;
        margin-right: 2px;
    }

        .card-demo:hover {
            cursor: pointer;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
</style>


<div class="well">
    <category></category>
</div>

<template id="category-template">
    <div class="row">
        <div class="col-md-2">
            <h3><a href="#" data-bind="text: 'Все', click: getAllRecipes"></a></h3>
            <div data-bind="foreach: foodCategories">
                <h3><a href="#" data-bind="text: name, click:$parent.getRecipesByCategoryId"></a></h3>
            </div>
        </div>
        <div class="col-md-8">
            <div data-bind="foreach: recipes">
                <recipe params="recipe: {name:name, text: text, image: image, id:id}"></recipe>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</template>

<template id="recipe-template">
    <div class="col-lg-3">
        <div class="card-demo">
            <div>
                <img width="100%" height="100" class="" data-bind="attr:{src:image}" alt="Card image cap">
            </div>
            <div class="" style="background: bisque;padding: 5px">
                <h5 class="" data-bind="text:name"></h5>
                <p class=""><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</template>








@section scripts
{
    @Scripts.Render("/Scripts/models/food-category-view-model.js")
    @Scripts.Render("/Scripts/models/recipe-view-model.js")
    <script>
        $(document).ready(function () {
            ko.applyBindings();
        });
    </script>
}

