
@{
    ViewBag.Title = "Recipes";
}

<div class="well">
    <recipes></recipes>
</div>

<template id="recipe-template">
    <div class="row">
        <div class="col-md-4">
            <h3><a href="#" data-bind="text: 'Все', click: getAllRecipes"></a></h3>
            <div data-bind="foreach: foodCategories">
                <h3><a href="#" data-bind="text: name, click:$parent.getRecipesByCategoryId"></a></h3>
            </div>
        </div>
        <div class="col-md-8">
            <div data-bind="foreach: recipes">
                <div class="col-lg-3">
                    <span data-bind="text:name"></span>
                </div>
            </div>
        </div>
    </div>
</template>








@section scripts
{
    @Scripts.Render("/Scripts/models/recipe-view-model.js")
    <script>
        $(document).ready(function() {
            ko.applyBindings();
        });
    </script>
}

